
{% extends '@MyAppUser/Default/pages/moniteur.html.twig' %}


{% block style %}
    <style>
        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
            font-size: 17px;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @-webkit-keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }

        @keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }
    </style>


{% endblock %}


{% block pageTitle %} Mes cours proposés {% endblock %}



{% block menu %}
    <ul class="menu accordion-menu">

        <li><a href="{{ path('mesCoursMoniteur') }}" class="waves-effect waves-button"> <span class="menu-icon glyphicon glyphicon-book"> </span><p>Mes Cours</p></a></li>


    </ul>

{% endblock %}




{% block flob %}





    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-dark">

                    <div class="panel-body">
                        <button type="button"  name="ajout" class="btn btn-success m-b-sm" data-toggle="modal" data-target="#myModal">Ajouter</button>

                        <!--- Modal d'ajout -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h2 class="modal-title , text-success" id="myModalLabel" style="align-content: space-around">Ajouter un cour</h2>
                                    </div>
                                    <div class="modal-body">
                                        {{ form_start(form) }}

                                        <div class="form-group">
                                            {{ form_widget(form.titre, {'attr': {'placeholder': 'Titre'}}) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.description, {'attr': {'placeholder': 'Description'}}) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.idType) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.nbPage, {'attr': {'placeholder': 'Nombre de pages'}}) }}
                                        </div>

                                        <div class="form-group">
                                            {{ form_widget(form.imageFile, {'attr': {'placeholder': 'Cours en PDF'}}) }}
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <button type="submit" id="add-row" name="form[save]" class="btn btn-success">Ajouter</button>

                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>



                        <!-- Affichage des voiture ds un tableau  -->


                        <div class="count">
                            <B>Nombre d'élements dans le tableau = </B>    {{ cours.getTotalItemCount }}
                        </div>


                        <div class="table-responsive">
                            <div id="example3_wrapper" class="dataTables_wrapper">
                                <div class="dataTables_length" id="example3_length">
                                    <div id="example3_filter" class="dataTables_filter">
                                        <form method="post">
                                            <input type="text" id="myInput" onkeyup="myFunction2()" placeholder="Recherche ..." name="rech"  >
                                        </form>
                                    </div> <br> <br>

                                    <table class="table table-bordered" id="myTable" style="width: 100%; cellspacing: 0;" >

                                        <tr>
                                            <th class="text-success" >   {{ knp_pagination_sortable(cours, 'Titre', 'a.titre') }} </th>
                                            <th class="text-success">Type</th>
                                            <th class="text-success">Nombre de page</th>
                                            <th class="text-success">Date dépo</th>
                                            <th class="text-success">Statut</th>
                                            <th class="text-success">Piéce Jointe</th>
                                            <th class="text-success">Modifier</th>
                                            <th class="text-success">Supprimer</th>

                                        </tr>

                                        {% for key,i in cours %}

                                            <tr>
                                                <td> {{ i.titre }}</td>
                                                <td>{{ i.idType.typequest }}</td>
                                                <td> {{ i.nbPage }}</td>
                                                <td>{{ i.dateDepo | date }}</td>
                                                {% if i.validation == 1 %}
                                                <td>Validé</td>
                                                   {% else %}
                                                    <td>Non</td>

                                                {% endif %}
                                                <td > <a href="#myModaledit{{ key}}" data-toggle="modal" data-target="#myModalshow{{ key}}" class="waves-effect waves-button"> <span class="menu-icon glyphicon glyphicon-book" style="vertical-align:middle;"> </span></a>

                                                    <!-- Modal Afficher -->
                                                    <div class="modal fade" id="myModalshow{{ key }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <h4 class="modal-title" id="myModalLabel"></h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <iframe src="http://localhost/karhabty/web/images/products/{{ i.getImageName() }}" width="540" height="600"></iframe>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </td>
                                                <td>
                                                    <!-- Button Supprimer -->
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalsupp{{ key }}">
                                                        supprimer
                                                    </button>

                                                    <!-- Modal Supprimer -->
                                                    <div class="modal fade" id="myModalsupp{{ key }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <h4 class="modal-title" id="myModalLabel">Suppression</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Voulez-vous vraiment supprimer     {{ i.titre }}  ?

                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                                    <button type="button" class="btn btn-danger" ><a style="color: white" href="{{ path('supprimerCourM',{'id' : i.id } ) }}"> supprimer</a></button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>

                                                <td>

                                                    <!-- Button Modifier -->
                                                    <button type="button" class="btn btn-warning " data-toggle="modal" data-target="#myModaledit{{ key}}">
                                                        Modifier
                                                    </button>

                                                    <!-- Modal Modifier -->
                                                    <div class="modal fade" id="myModaledit{{ key }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">


                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <h4 class="modal-title" id="myModalLabel">Modifier cour</h4>
                                                                </div>
                                                                <div class="modal-body">

                                                                    {{ render(controller(
                                                                    'MyAppCoursBundle:CoursMoniteur:modiferCour',
                                                                    { 'id': i.id }
                                                                    )) }}

                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>





                                            </tr>
                                        {% endfor %}
                                    </table>

                                    <div class="navigation">
                                        {{ knp_pagination_render(cours) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>










{% endblock %}


{% block script %}
    <script>
        function myFunction2() {
            // Declare variables
            var input, filter, table, tr, td,td2 ,td3,td4,td5, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td2 = tr[i].getElementsByTagName("td")[1];
                td3 = tr[i].getElementsByTagName("td")[2];
                td4 = tr[i].getElementsByTagName("td")[3];
                td5 = tr[i].getElementsByTagName("td")[4];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    }
                    else if (td2) {
                        if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else if (td3) {
                            if (td3.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else if (td4) {
                                if (td4.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                }else if (td5) {
                                    if (td5.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                        tr[i].style.display = "";
                                    } else {
                                        tr[i].style.display = "none";
                                    }
                                }
                            }
                        }
                    }
                }





            }
        }
    </script>




{% endblock %}
