{% extends ':default:layoutUser.html.twig' %}
{% block Menu %}

    <ul class="menu accordion-menu">

        <li><a href="" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
        <li><a href="{{ path('fos_user_profile_show') }}" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>Profile</p></a></li>
        <li class="droplink"><a href="{{ path('my_app_event_homepage') }}" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-random"></span><p>Evenement</p><span class="arrow"></span></a>
            <ul class="sub-menu">

                <li><a href="{{ path('ajoutEvent') }}">Nouvel Evenement</a></li>
            </ul>
        </li>


        <li class="droplink"><a href="" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-calendar"></span><p>Seances</p><span class="arrow"></span></a>
            <ul class="sub-menu">

                <li><a href="{{ path('ajoutSeance') }}">Nouvelle Seance</a></li>
                <li><a href="{{ path('lsitSeance') }}">Liste Des Seances</a></li>
            </ul>
        </li>
        <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-gift"></span><p>Offres</p><span class="arrow"></span></a>

        </li>

        <li class="droplink"><a href="{{ path('Affichage') }}" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-road"></span><p>Auto Ecole</p><span class="arrow"></span></a>
            <ul class="sub-menu">

                <li><a href="{{ path('Ajout') }}">Nouvelle AutoEcole</a></li>

            </ul>

        </li>
        <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-list-alt"></span><p>Cours</p><span class="arrow"></span></a>

        </li>
        </li>
        <li class="droplink"><a href="{{ path('listeAff') }}" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-list-alt"></span><p>Affectation</p><span class="arrow"></span></a>

        </li>
        <li class="droplink"><a href="{{ path('affichtableau') }}" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-list-alt"></span><p>Voitures</p><span class="arrow"></span></a>

        </li>





    </ul>


{% endblock %}
{% block title %}
    <div class="page-title">
        <h3> Acceuil Gerant </h3>
    </div>
{% endblock %}

{% block container %}

{% endblock %}