{% extends ':default:layoutUser.html.twig' %}
{% block Menu %}

    <ul class="menu accordion-menu">

        <li><a href="" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
        <li><a href="{{ path('fos_user_profile_show') }}" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>Profile</p></a></li>
        <li class="droplink"><a href="{{ path('my_app_event_homepage') }}" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-random"></span><p>Evenement</p><span class="arrow"></span></a>
            <ul class="sub-menu">
                <li><a href="{{ path('my_app_event_homepage') }}">Mes Evenements</a></li>
                <li><a href="{{ path('ajoutEvent') }}">Nouvel Evenement</a></li>
            </ul>
        </li>

        <li class="droplink"><a href="{{ path('MesSeancesMoniteur') }}" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-calendar"></span><p>Emploi</p><span class="arrow"></span></a>

        </li>
        <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-gift"></span><p>Offres</p><span class="arrow"></span></a>

        </li>
        <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-comment"></span><p>Reclamation</p><span class="arrow"></span></a>
            <ul class="sub-menu">
                <li><a href="{{ path('affiche Reclamation') }}">Mes Reclamation</a></li>
                <li><a href="{{ path('ajouter Reclamation') }}">Ajouter une reclamation</a></li>
                <li><a href="{{ path('my_app_mail_homepage') }}" >Mail</a></li>
            </ul>
        </li>

        <li class="droplink"><a href="{{ path('mesCoursMoniteur') }}" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-list-alt"></span><p>Cours</p><span class="arrow"></span></a>

        </li>
        <li  class="droplink"><a href="#" class="waves-effect waves-button" ><span class="menu-icon glyphicon glyphicon-euro"></span><p>Recharge</p><span class="arrow"></span></a>

        </li>



    </ul>


{% endblock %}
{% block title %}

    <div class="page-title">
        <h3> Acceuil Moniteur </h3>
    </div>



{% endblock %}

{% block container %}

{% endblock %}