{% extends "base.html.twig" %}
{% block user %}
    <ul class="user-menu">

        <ul class="user-menu">
            <li class="dropdown pull-right">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg><span class="caret"></span></a>
                <span class="username username-hide-on-mobile">{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                                {% endif %}</span>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('showprofile') }}"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
                    <li><a href="{{ path('editprofile') }}"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
                </ul>
            </li>
        </ul>



    </ul>

{% endblock %}
{% block AMDIF %}
    <ul class="nav menu">
        <li class="active"><a href="{{ path('page_ajout') }}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> GESTION SEANCE </a></li>
        <li><a href="{{ path('page_affichage') }}"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> PLANNING </a></li>
    </ul>
{% endblock %}
{% block container %}
    <h1>KARHABTYYY </h1>
{% endblock %}