{% extends "@MyAppUser/Default/pages/gerant.html.twig" %}

{% block title %}
    <div class="page-title">
        <h3> Gestion des Sénaces</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="{{ path('lsitSeance') }}">Home</a></li>



            </ol>
        </div>
    </div>
{% endblock %}

{% block container %}
    <html>
    <head>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even){background-color: #ffffff}

            th {
                background-color: #5d5d5d;
                color: white;
            }
        </style>
    </head>
    <body>

    <div class="panel-body">
        <center><h3 style="color: red">Liste Des Séances </h3></center>
            <div id="affichage">




        <div class="count">
         Il y'a   {{ data.getTotalItemCount }} Séance  en totale :
        </div>
        <br>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(data, 'Date Seance', 'a.id') }} </th>
                <th> Heure Debut</th>
                <th> Heure Fin</th>
                <th>Moniteur</th>
                <th>Candidat</th>
                <th>Links</th>
            </tr>
            </thead>
            <tbody>
            {% for i in data %}
                <tr>
                    <td> {{ i.dateSeance|date('d-m-y') }}</td>
                    <td> {{ i.heureDebut|date('h:m') }}</td>
                    <td> {{ i.heureFin|date('h:m') }}</td>
                    <td> {{ i.idMoniteur.nom }}</td>
                    <td> {{ i.idCandidat.nom }} </td>
                    <td>
                          <p>
                        <a href="{{ path('SupprimerSeance',{'id' : i.id } ) }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a href="{{ path('modifSeance',{'id' : i.id } ) }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                          </p>
                    </td>



                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation text-center">
        {{ knp_pagination_render(data) }}
    </div>

    </div>

    </body>









    </html>


{% endblock %}