{% extends ':default:layoutUser.html.twig' %}
{% block Menu %}

    <ul class="menu accordion-menu">

        <li><a href="" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
        <li><a href="{{ path('fos_user_profile_show') }}" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>Profile</p></a></li>
        <li class="droplink"><a href="" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-random"></span><p>Evenement</p><span class="arrow"></span></a>
            <ul class="sub-menu">
                <li><a href="{{ path('Events') }}">Mes Evenements</a></li>
                <li><a href="{{ path('ajoutEvent') }}">Nouvel Evenement</a></li>
            </ul>
        </li>

        <li class="droplink"><a href="{{ path('MesSeancesMoniteur') }}" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-calendar"></span><p>Emploi</p><span class="arrow"></span></a>

        </li>
        <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-gift"></span><p>Offres</p><span class="arrow"></span></a>

        </li>
        <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-comment"></span><p>Reclamation</p><span class="arrow"></span></a>
            <ul class="sub-menu">
                <li><a href="{{ path('affiche Reclamation') }}">Mes Reclamation</a></li>
                <li><a href="{{ path('ajouter Reclamation') }}">Ajouter une reclamation</a></li>
                <li><a href="{{ path('my_app_mail_homepage') }}" >Mail</a></li>
            </ul>
        </li>
        <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-road"></span><p>Auto Ecole</p><span class="arrow"></span></a>

        </li>
        <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-list-alt"></span><p>Cours</p><span class="arrow"></span></a>

        </li>
        <li  class="droplink"><a href="#" class="waves-effect waves-button" ><span class="menu-icon glyphicon glyphicon-euro"></span><p>Recharge</p><span class="arrow"></span></a>

        </li>



    </ul>


{% endblock %}

{% block container %}

    <html>
    <head>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even){background-color: #ffffff}

            th {
                background-color: #5d5d5d;
                color: white;
            }
        </style>
    </head>
    <body>

    <div class="panel-body">


        <br>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date Seance </th>
                <th> Heure Debut</th>
                <th> Heure Fin</th>
                <th>Moniteur</th>
                <th>Candidat</th>

            </tr>
            </thead>
            <tbody>
            {% for i in data %}
                <tr>
                    <td> {{ i.dateSeance|date('d-m-y') }}</td>
                    <td> {{ i.heureDebut|date('h:m') }}</td>
                    <td> {{ i.heureFin|date('h:m') }}</td>
                    <td> {{ i.idMoniteur }}</td>
                    <td> {{ i.idCandidat }} </td>



                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <div>
            <a href="{{ path('PDFM',{'id' : app.user.getId() }) }}">
                <p style="color: #880000">Telecharger PDF </p>
            </a>
        </div>
    </div>



    </body>

    </html>



{% endblock %}